@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

/* 변수 정의 */
:root {
    --title-01: 60px;
    --title-02: 40px;
    --title-03: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
}

.button {
    width: 256px;
    height: 64px;
    display: block;
    background-color: #111;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 64px;
}

.button.round {
    border-radius: 64px;
}

.button_square {
    background-color: #fff;
    color: #111;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 64px;
}

body {
    background-color: #fff;
    color: #111;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Noto Sans KR', sans-serif,'Apple SD Gothic Neo';
    font-weight: 400;
}

.header {
    max-width: 1320px;
    margin: 0 auto;
    height: 150px;
    padding: 0 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    z-index: 10;
    /* border-bottom: 1px solid #ccc; */
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.logo img {
    width: 130px;
    display: block;
}

.gnb {}

.gnb ul {
    display: flex;
    gap: 50px;
}

.gnb ul li a {
    display: block;
    padding: 20px 0;
    font-weight: 500;
}

.top_menu {
    display: flex;
    align-items: center;
    gap: 36px;
}

.top_menu img {
    display: block;
    width: 28px;
}

.bars {
    display: none; 
}

.bars img {
    width: 38px;
    display: block;
}

.close {
    display: none;
}

.footer {
    padding: 100px 80px 56px;
    background-color: #111;
    color: #fff;
}

.footer_menu {
    display: flex;
    margin-bottom: 120px;
}

.footer_menu .footer_gnb {
    flex: 1;
    display: flex;
}

.footer_gnb > li {
    width: 218px;
}

.footer_gnb > li > a {
    font-size: 14px;
    font-weight: 700;
    display: block;
    padding: 10px 0;
}

.footer_gnb ul {}

.footer_gnb ul li a {
    display: block;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 0;
}

.footer_menu .sns {
    /* background-color: #333; */
    width: 200px;
}

.sns p {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 25px;
}

.sns .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sns .icons img {
    display: block;
    width: 38px;
}

.copyright {
    font-size: 10px;
    color: #999;
}

@media (max-width: 768px) {
    .button.round {
        width: 140px;
        height: 50px;
        font-size: 16px;
        line-height: 50px;
        font-weight: 400;
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        z-index: 10;
    }
    
    .logo img {
        width: 90px;
    }
    
    .gnb {
        /* display: none; */
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        color: #fff;
        z-index: 1;
        padding-top: 100px;
        transition: left 0.3s;
    }

    .gnb.active {
        left: 0;
    }
    
    .gnb ul {
        flex-direction: column;
        gap: 0;
        text-align: center;
    }
    
    .gnb ul li a {
        font-size: 28px;
        padding: 26px 0;
    }
    
    .top_menu {
        gap: 20px;
    }
    
    .top_menu img {
        width: 20px;
    }
    
    .bars {
        display: block; 
    }
    
    .close {
        position: fixed;
        top: 30px;
        right: 30px;
    }

    .close img {
        width: 24px;
    }
    
    .footer {
        padding: 100px 30px 56px;
    }
    
    .footer_menu {
        flex-direction: column;
        margin-bottom: 60px;
        gap: 60px;
    }
    
    .footer_menu .footer_gnb {
        flex: initial;
    }

    .footer_gnb {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
    .footer_gnb > li {
        width: initial;
        margin-bottom: 40px;
    }
 
    
    .footer_gnb ul li a {
        font-weight: 400;
        padding: 8px 0;
        font-size: 13px;
    }
    
    .footer_menu .sns {
        /* background-color: #333; */
        width: 200px;
    }

    .sns .icons img {
        width: 44px;
    }

    .main {
        overflow: hidden;
        margin-top: 80px;
    }

}