/* hero */

.hero {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    height: 630px;
    /* padding: 0 20px; */
    gap: 120px;
}

.main_image {
    flex: 1;
    background-color: #eee;
    position: relative;
    background-image: url('../images/nike_03.png');
    background-position: center;
    background-repeat: no-repeat;
}

.main_image .btn {
    position: absolute;
    display: flex;
    bottom: 30px;
    right: 30px;
    gap: 10px;
    /* width: 140px;
    height: 64px; */
}

.main_image .btn a {
    display: block;
    width: 64px;
    height: 64px;
    background-color: #fff;
    text-align: center;
    line-height: 64px;
    border-radius: 30px;
}

.main_image .btn a img {
    display: block;
    width: 100%;
    height: 100%;
}

.main_contents {
    flex: 1;
    width: 526px;
    height: 630px;
}

.main_contents .text_box {
    padding-bottom: 16px;

}

.main_contents .text_box h3 {
    font-size: 18px;
    font-weight: 400;
}
.main_contents .text_box h2 {
    font-size: var(--title-01);
    font-weight: 700;
}
.main_contents .text_box > p {
    font-size: 24px;
    padding-bottom: 23px;
}


.main_contents .text_box .text_size {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.text_size > p:nth-child(2) {
    text-decoration: underline;
}

.main_contents .size_box {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    /* gap: 16 px; */
    padding-bottom: 24px;
    width: 100%;
}
.main_contents .size_box li {
    width: 100%;
    height: 100%;
}

.main_contents .size_box li a {
    border: 1px solid #111;
    display: block;
    width: 92px;
    height: 92px;
}



/* category */
.category {
    padding: 200px 20px 0 20px;
    display: flex;
    height: 100%;
    max-width: 1320px;
    margin: 0 auto;
    gap: 16px;
}

.category .text_box {
    flex: 1;
    /* display: flex;
    flex-direction: column; */
    gap: 50px;
    height: 560px;
}

.category .text_box h2 {
    padding: 60px 0 50px 0;
    font-size: var(--title-02);
    font-weight: 700;
}

.category .text_box p {
    width: 384px;
}

.category .box_01, .box_02 {
    flex: 1;
    background-color: #eee;
    width: 416px;
    height: 560px;
}

.category .box_01, .box_02 a {
    width: 416px;
    height: 560px;
    line-height: 560px;
    text-align: center;
    display: block;
}


/* product */
.product {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 150px;
}

.product h3 {
    font-weight: 900;
    font-size: var(--title-03);
    margin-top: 130px;
    margin-bottom: 30px;
}

.product ul {
    /* display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 16px; */
}

.product ul li {
    width: 308px;
    margin-right: 16px;
}

.product ul li .photo {
    background-color: #e7e7e7;
    height: 308px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product ul li .titles {
    padding: 14px 0;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product ul li .titles h5 {
    font-style: 18px;
    font-weight: 700;
}

@media (max-width: 768px){
    /* hero */

    .hero {
        background-size: 130%;
        background-position: center 0;
        padding-top: 360px;
    }

    .hero .text_box {
        position: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        /* display: none; */
    }  
    
    .hero .text_box h2 {
        font-size: 36px;
        font-size: var(--title-01);
        font-weight: 900;
    }

    .hero .text_box p {
        font-weight: 500;
        font-size: 16px;
        margin: 20px 0 40px;
    }
    /* category */
    .category {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .category .photo {
        height: 340px;
    }

    .category .text h3 {
        font-weight: 900;
        font-size: var(--title-02);
    }
    
    .category .text p {
        font-size: 18px;
        padding: 20px 0;
        padding: 4px 0 30px 0;

    }
    /* product */
    .product {
        position: relative;
        height: 400px;
        margin-bottom: 200px;
    }

    .product ul {
       position: absolute;
       top: 70px;
       left: 20px;
       width: 150%;
    }


    .product ul li .photo {
        height: 300px;
    }


}
