/* hero */

.hero {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    height: 648px;
    background-image: url('../images/nike_02.png');
    background-size: 68%;
    background-repeat: no-repeat;
    background-position: 400px -40px;
    /* background-color: red; */
}

.hero .text_box {
    position: absolute;
    bottom: 48px;
    left: 0;
}


.hero .text_box h2 {
    font-size: var(--title-01);
    font-weight: 900;
}

.hero .text_box p {
    font-weight: 500;
    font-size: 24px;
    margin: 20px 0 40px;
}

/* category */
.category {
    max-width: 1320px;
    margin: 50px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 16px;
}

.category .photo {
    background-color: #d9d9d9;
    color: #fff;
    height: 642px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category .text h3 {
    font-weight: 900;
    font-size: var(--title-02);
    padding-top: 50px;
}

.category .text p {
    font-size: 18px;
    padding: 20px 0;
}

.button_square {
    width: 256px;
    height: 64px;
    display: block;
    background-color: #fff;
    color: #111;
    border: 1px solid #111;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 64px;
}

/* product */
.product {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 150px;
}

.product h3 {
    font-weight: 900;
    font-size: var(--title-03);
    margin-top: 130px;
    margin-bottom: 30px;
}

.product ul {
    /* display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 16px; */
}

.product ul li {
    width: 308px;
    margin-right: 16px;
}

.product ul li .photo {
    background-color: #e7e7e7;
    height: 308px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product ul li .titles {
    padding: 14px 0;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product ul li .titles h5 {
    font-style: 18px;
    font-weight: 700;
}

@media (max-width: 768px){
    /* hero */

    .hero {
        background-size: 130%;
        background-position: center 0;
        padding-top: 360px;
    }

    .hero .text_box {
        position: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        /* display: none; */
    }  
    
    .hero .text_box h2 {
        font-size: 36px;
        font-size: var(--title-01);
        font-weight: 900;
    }

    .hero .text_box p {
        font-weight: 500;
        font-size: 16px;
        margin: 20px 0 40px;
    }
    /* category */
    .category {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .category .photo {
        height: 340px;
    }

    .category .text h3 {
        font-weight: 900;
        font-size: var(--title-02);
    }
    
    .category .text p {
        font-size: 18px;
        padding: 20px 0;
        padding: 4px 0 30px 0;

    }
    /* product */
    .product {
        position: relative;
        height: 400px;
        margin-bottom: 200px;
    }

    .product ul {
       position: absolute;
       top: 70px;
       left: 20px;
       width: 150%;
    }


    .product ul li .photo {
        height: 300px;
    }


}
